*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
li{
    list-style-type: none;
    position: relative;
    padding-left: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper{
   display: flex;
   
} 
.container:nth-child(even){
    direction: rtl;
}
.text{
    padding: 65px;
    font-size: 18px;
    gap: 8px;
    line-height: 28px;
}
.text:nth-child(even){
    text-align: left;
}
.img{
    flex-basis: 30%;
    height: 450px;
}
.title{
    font-size: 45px;
    margin-bottom: 15px;
    background: linear-gradient(to top, #4B5561 40px, #FF7900 53px);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: 1.4;
}

a{
    text-decoration: none;
    color:#4B5561;
    font-size: 18px;
    font-weight: bolder;
}
.explore{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid #FF7900;
    padding: 6px;
    color: black;
}
li:before{
    border-radius: 50%;
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid #FF7900;
    position: absolute;
    left: 0px;
    top: 14px;
}
ul{
    margin-top: 10px;
    gap: 20px;
}